*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
body{
    /* margin: 0;
    padding: 0;    
    background-color: royalblue;     */
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100vh; 
}


.avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: calc(50% - 35px);
}
.pp{
    margin-bottom: 70px;
}
.mgn{
    margin-left: 70px;
}
.mb{
    margin-bottom: 20px;
}

/* .prof{
    margin-bottom: 25px;
} */